<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaorange.mapper.InterviewRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.yaorange.pojo.InterviewRecords" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="studentId" property="studentid" jdbcType="INTEGER" />
    <result column="interviewCompany" property="interviewcompany" jdbcType="VARCHAR" />
    <result column="interviewPlace" property="interviewplace" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="contactsPhone" property="contactsphone" jdbcType="VARCHAR" />
    <result column="interviewTime" property="interviewtime" jdbcType="DATE" />
    <result column="studentNo" property="studentno" jdbcType="VARCHAR" />
    <result column="studentName" property="studentname" jdbcType="VARCHAR" />
    <result column="className" property="classname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, studentId, interviewCompany, interviewPlace, contacts, contactsPhone, interviewTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yaorange.pojo.InterviewRecordsExample" >
    SELECT ir.*,s.studentName,s.studentNo,s.className
    from interview_records ir
    LEFT JOIN student s on ir.studentId=s.id
    <!-->    <if test="_parameter != null" >
        <include refid="Example_Where_Clause" />
      </if>
      com.yaorange.pojo.InterviewRecordsExample
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>  <-->
  </select>


  <select id="findList" resultMap="BaseResultMap" parameterType="java.lang.String">
  SELECT ir.*,s.studentName,s.studentNo,s.className 
  from interview_records ir 
LEFT JOIN student s on ir.studentId=s.id;
  </select>




  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT * from (SELECT ir.*,s.studentName,s.studentNo,s.className
    from interview_records ir
    LEFT JOIN student s on ir.studentId=s.id) ir2
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from interview_records
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yaorange.pojo.InterviewRecordsExample" >
    delete from interview_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yaorange.pojo.InterviewRecords" >
    insert into interview_records (studentId, interviewCompany,
      interviewPlace, contacts, contactsPhone,
      interviewTime)
    values (#{studentid,jdbcType=INTEGER}, #{interviewcompany,jdbcType=VARCHAR},
      #{interviewplace,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{contactsphone,jdbcType=VARCHAR}, 
      #{interviewtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.yaorange.pojo.InterviewRecords" >
    insert into interview_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentid != null" >
        studentId,
      </if>
      <if test="interviewcompany != null" >
        interviewCompany,
      </if>
      <if test="interviewplace != null" >
        interviewPlace,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="contactsphone != null" >
        contactsPhone,
      </if>
      <if test="interviewtime != null" >
        interviewTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="interviewcompany != null" >
        #{interviewcompany,jdbcType=VARCHAR},
      </if>
      <if test="interviewplace != null" >
        #{interviewplace,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactsphone != null" >
        #{contactsphone,jdbcType=VARCHAR},
      </if>
      <if test="interviewtime != null" >
        #{interviewtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yaorange.pojo.InterviewRecordsExample" resultType="java.lang.Integer" >
    select count(*) from interview_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update interview_records
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.studentid != null" >
        studentId = #{record.studentid,jdbcType=INTEGER},
      </if>
      <if test="record.interviewcompany != null" >
        interviewCompany = #{record.interviewcompany,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewplace != null" >
        interviewPlace = #{record.interviewplace,jdbcType=VARCHAR},
      </if>
      <if test="record.contacts != null" >
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.contactsphone != null" >
        contactsPhone = #{record.contactsphone,jdbcType=VARCHAR},
      </if>
      <if test="record.interviewtime != null" >
        interviewTime = #{record.interviewtime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update interview_records
    set id = #{record.id,jdbcType=BIGINT},
    studentId = #{record.studentid,jdbcType=INTEGER},
    interviewCompany = #{record.interviewcompany,jdbcType=VARCHAR},
    interviewPlace = #{record.interviewplace,jdbcType=VARCHAR},
    contacts = #{record.contacts,jdbcType=VARCHAR},
    contactsPhone = #{record.contactsphone,jdbcType=VARCHAR},
    interviewTime = #{record.interviewtime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaorange.pojo.InterviewRecords" >
    update interview_records
    <set >
      <if test="studentid != null" >
        studentId = #{studentid,jdbcType=INTEGER},
      </if>
      <if test="interviewcompany != null" >
        interviewCompany = #{interviewcompany,jdbcType=VARCHAR},
      </if>
      <if test="interviewplace != null" >
        interviewPlace = #{interviewplace,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactsphone != null" >
        contactsPhone = #{contactsphone,jdbcType=VARCHAR},
      </if>
      <if test="interviewtime != null" >
        interviewTime = #{interviewtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaorange.pojo.InterviewRecords" >
    update interview_records
    set studentId = #{studentid,jdbcType=INTEGER},
      interviewCompany = #{interviewcompany,jdbcType=VARCHAR},
      interviewPlace = #{interviewplace,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      contactsPhone = #{contactsphone,jdbcType=VARCHAR},
      interviewTime = #{interviewtime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>